<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
    </head>
    
    <body class="body">
    <header class="header">
    <div id="header"> {{page.header}} </div>
    <br />
    <div>
    Welcome!
    </div>
    </header>
    <main class="main">
        <div id="menu" class='menu'> {{page.menu}} </div>
        <div id="content"> {{page.content}} </div>
        <div id="sidebar"> {{page.sidebar}} </div>
    </main>
    <footer >
        <div id="footer" class="footer"> {{page.footer}} </div>
    </footer>
    </body>
</html>